doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("/assets/lib/ldfolder/dev/index.min.css")
  body
    .w-1024.mx-auto.rwd.my-4
      #ldfd.ldfd
        .ldfd-item ITEM1
        .ldfd
          .ldfd-item.ldfd-toggle ITEM2
          .ldfd-menu
            .ldfd-item ITEM3
            .ldfd-item ITEM4

    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/ldfolder/dev/index.min.js")
    script(type="module"): :lsc
      fd = new ldfolder root: '#ldfd'
